body{
	text-align: center;
	position: relative;
}

/*@media all and (min-width: 1024px){
	.mobile-layout-nav{
		display: block;
	}
}*/
@media screen and (min-width: 990px){
	.mobile-layout-nav{
		display: none;
	}
}
@media screen and (min-width: 300px) and (max-width: 989px){
	.carousel-container{
		margin-top: 15% !important;
	}
	.fb img, .insta img, .mail img{
		width: 20px !important;
		height: 20px !important;
	}
	.social{
		margin: 0 auto;
    float: none !important; 
    display: inline-block;
	}
	.bottom-nav{
		width: 100%;
	}
	.footer-logo{
		width: 100%;
	}
	.footer-logo img{
		float: none !important;
	}
	#social-links{
		width: 100% !important;
	}
	.footer{
		height: auto !important;
	}
}
@media screen and (max-width: 800px){
	.img-header, .img-caption-content{
		padding: 0% 15% !important;
	}
	.bottom-nav li{
		width: 100%;
	}
}
@media screen and (max-width: 990px){
	.main-header{
		display: none; 
	}
}
@media screen and (max-width: 1354px){
	.top-nav nav{
		padding: 0px !important; 
	}
}
.nav-stacked{
	/*display: none !important;*/
}
#copyright{
	height: 25px;
}
.main-body{
	margin-bottom: 2% !important;
}
.auto-960{
	max-width: 960px;
}
.carousel-container{
	/*height: 400px;*/
	margin-top: 10px;
}
.carousel-inner>.item.active, 
.carousel-inner>.item.next.left, 
.carousel-inner>.item.prev.right,
.carousel-inner>.item.active.left, 
.carousel-inner>.item.prev,
.carousel-inner>.item.active.right, 
.carousel-inner>.item.next {transform: inherit}
.carousel-inner .item.active.left { left: -33.33333%; }
.carousel-inner .item.next        { left:  33.33333%; }
.carousel-inner .item.prev        { left: -33.33333%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.carousel-inner .item:not(.prev) {visibility: visible;}
.carousel-inner .item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
.carousel-inner>.item {transition: .6s ease-in-out left;}
.carousel-inner>.item.active.right {left: 100%;transition: 1.03s ease-in-out left;}
.divider{
	background-color: #D8D8D8;
	border: 1px solid #D8D8D8;
	margin: 5% 0%;
}
.btn-control{
	background-color: rgba(0, 0, 0, 0.53);
	border-radius: 20px;
}
#img-item{
	padding: 0px !important;
}
a{
	text-decoration: none !important;
}
h4{
	margin: 0px !important;
font-family: P22JohnstonUnderground;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 1.84px;
}
#img-item img{
	width: 100%;
}
.img-caption{
	background-color: rgba(6,2,2,.57);
	text-align: justify;
	padding: 15px;
	width: auto;
}
.img-caption:hover .img-caption-content{
	display: block;
}
.img-caption p{
font-family: Georgia;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 0.6px;
line-height: 20px;
margin-top: 10px;
}
.img-caption a{
font-family: P22JohnstonUnderground;
font-size: 9px;
color: #DC6A27;
letter-spacing: 1px;
}
.top-img-img{
	position: absolute;
	top: 5%;
	width: 100%
}
.img-caption-content {
    display: none;
}
.img-slider-container{
	position: relative;
}  
.top-img-img .first-img{
	float: left;
	width: 15% !important;
}
.top-img-img .second-img{
	float: right;
	width: 15% !important;
}
.slider-caption {
    position: absolute;
    right: 0% !important;
    bottom: -18px;
    left: 0% !important;
    z-index: 10;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.main-header{
	height: 230px;
	padding: 5% 25% 0% 25%
}
.main-logo a img{
	/*width: 100%;*/
}
.img-item {
	width: 100px;
}
.img-item img{
	float: left;
}
nav{
	font-family: P22JohnstonUnderground;
	font-size: 13px;
	color: #888888;
	letter-spacing: 2px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: transparent !important;
	color: #595959 !important;
}
.top-nav ul li a{
	color: #a4a4a4 !important;
	font-size: 13px !important; 
}
.top-nav{
	padding: 6% 8% 0% 0%;
  margin-bottom: 5%;
  float: right;
}
.top-nav nav{
	float: right;
  padding: 0% 15%;
}
#img-2-caption p{
	/* 37 Paseo Rodulfo is : */
	font-family: Georgia;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	line-height: 20px;
}
#img-2-caption a{
	font-size: 9px;
	color: #CB1511 !important;
}
#show-project{
	/* SHOW PROJECTS: */
	font-family: P22JohnstonUnderground;
	font-size: 9px;
	color: #333333;
	letter-spacing: 0.4px;
	margin-top: 10px;
}
.about-container{
	/*min-height: 500px;*/
}
.about-holder, .contact-holder, .blog-holder{
	min-height: 75%
}
#about-us{
	/* ABOUT US: */
	font-family: P22JohnstonUnderground;
	font-size: 18px;
	color: #1D1D1D;
	letter-spacing: 2.4px;
	text-decoration: underline;
}
#about-img{
	padding: 4% 0%;
}
#about-img img{
	width: 100%;
}
#about-text{
	/* Founded by the husba: */
	text-align: justify;
  text-justify: inter-word;
	font-family: Georgia;
	font-size: 13px;
	color: #535353;
	letter-spacing: 0.3px;
	line-height: 20px;
}
.read-more a{
	font-size: 9px;
	color: #CB1511 !important;
}
.blog-read-more a{
	float: left;
	font-size: 9px;
	color: #CB1511 !important;
}
.blog-container{
	min-height: 400px;
	margin-bottom: 10%;
}
#blog-header{
	font-family: P22JohnstonUnderground;
	font-size: 18px;
	color: #1D1D1D;
	letter-spacing: 2.4px;
	text-decoration: underline;
}
#blog-content p{
	/* Fiona King is a lice: */
	text-align: justify;
  text-justify: inter-word;
	font-family: Georgia;
	font-size: 13px;
	color: #535353;
	letter-spacing: 0.3px;
	line-height: 20px;
}
#blog-content h3, label{
/* How to make Guacamol: */
font-family: P22JohnstonUnderground;
text-align: justify;
text-justify: inter-word;
font-size: 18px;
color: #1D1D1D;
letter-spacing: 0.4px;
}
small {
	text-align: justify;
	text-justify: inter-word;
  font-size: 100% !important;
  color: #CB1511;
 }
 #blog-content label{
 	font-size: 9px;
 	font-weight: 0 !important;
 }
#blog-content-header{
	height: 50px;
}
#blog-content-header label{
	float: left;
}
#contact-header{
	font-family: P22JohnstonUnderground;
	font-size: 18px;
	color: #1D1D1D;
	letter-spacing: 2.4px;
	text-decoration: underline;
}
.contact-container{
	margin-bottom: 5%;
	/*min-height: 500px;*/
}
.contact-btn{
	background: #DC6A27;
	font-family: P22JohnstonUnderground;
	font-size: 16px !important;
	color: #FFFFFF;
	letter-spacing: 0.49px;
  width: 100% !important;
  float: right;
  padding: 14px !important;
}
#telephone{
	padding: 0% 2%;
}
#telephone div{
	float: left;
}
#telephone h5, #telephone p{
	float: left;
	padding: 5px;
	font-family: Georgia;
	font-size: 13px;
	color: #1D1D1D;
	letter-spacing: 0.57px;
}
#telephone div h5{
	margin: 1px !important;
}
#telephone h5{
	color: #CB1511 !important;
}
.form-holder{
	margin-top: 50px;
}
input, textarea{
	border-color: #1D1D1D !important;
	border-radius: 0px !important;
}
.bottom-nav ul li a{
	font-family: P22JohnstonUnderground;
	font-size: 13px;
	color: #a4a4a4 ;
	letter-spacing: 2px;
}
.bottom-nav nav{
	/*padding: 0% 10%;*/
}
.footer{
	background-color: #D8D8D8;
	/*min-height: 150px;*/
	height: 150px;
	/*position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;*/	
}
.footer-body{
	padding-top: 3%;
	margin-bottom: 7%;
}
.footer-logo img{
	width: 135px;
	height: 36px;
	float: left;
}
.social{
	float: right;
}
.fb img{
	/*background: url(img/fb.png) no-repeat;*/
	margin: 0% 2%;
	width: 30px;
	height: 30px;
}
.insta img{
	/*background: url(img/insta.png) no-repeat;*/
	margin: 0% 2%;
	width: 30px;
	height: 30px;
} 
.mail img{
	/*background: url(img/mail.png) no-repeat;*/
	margin: 0% 2%;
	width: 30px;
	height: 30px;
}
.fb, .insta, .mail{
	/*margin: 0% 4%;    */
	position: relative;
  padding: 0px 5px;
  float: left;
}
.footer p{
	font-size: 11px;
}
